<div class="product">
    <div class="product header">
        <h2>Product title</h2>
        <p class="avaliable">Free Shipping</p>
    </div>
    <div class="product-info">
        <p class="product-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, officia.
        </p>
    </div>
    <div class="product-buttons">
        <div class="amount">
        <small>Product amount</small>
        <button class="btn">1</button>
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-primary" [routerLink]="['/order']">Buy now</button>
            <p class="price">48 USD</p>
        </div>
    </div>
</div>