<div class="product-card">
    <div class="product-img">
    <img  src="{{product.image_url}}" alt="product image">
    </div>
    <div class="product-title">
        <h3>{{product.provider}}</h3>
        <div>
        <h2>{{product.name}}</h2>
        <small class="product-avaliable" *ngIf="product.avaliable; else unavaliable">Free Shipping</small>
        <ng-template #unavaliable> <small class="product-unavaliable">Product unavaliable</small></ng-template>
    </div>
    </div>
    <div class="product-details">
    <p>{{product.details}}</p>
</div>
    <div class="card-buttons">
        <div class="product-amount">
            <label for="quantity" class="quantity-label">Product amount:</label>
            <input *ngIf="product.avaliable" id="quantity" class="product-quantity"  [(ngModel)]="quantity" type="number" min="1" [disabled]="!product.avaliable">
        </div>
        <div>
            <button class="btn btn-primary open"
            [routerLink]="['/order', product.id, quantity]"
            [disabled]="!product.avaliable"
            > 
             Buy now  
            </button>
            <p>{{product.price}} USD</p>
        </div>
    </div>
</div>


































