
<nav class="navbar bg-dark">
    <h2><a routerLink="/">Technes</a></h2>
    <ul *ngIf="auth.isAuthenticated()">
            <li routerLinkActive="active">
                <a [routerLink]="['/admin', 'orders']">Orders List</a>
            </li>
            <li>
                <a href="#" (click)="logout($event)">Logout</a>
            </li>
        </ul>
                <button *ngIf="!auth.isAuthenticated()" class="btn btn-primary" [routerLink]="['/admin']">Login as Admin</button>

</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
