<form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <h1>Change Order</h1>
        <div class="card-info">
        <div class="order-info">
                <h4>Order information</h4>
            <p><b>Current address:</b> {{orders_info.delivery_address}}</p>
            <p><b>Current comment:</b> {{orders_info.comment}}</p>
            <p><b>Client phone:</b> {{orders_info.phone}}</p>
        </div>
        <div class="product-info">
                <h4>Product information</h4>
            <p><b>Product name:</b> {{product_info.name}}</p>
            <p><b>Product price:</b> {{product_info.price}}</p>
            <p><b>Product amount:</b> {{orders_info.product_amount}}</p>
        </div>
    </div>
                <div class="form-control"
                [ngClass]="{invalid: form.get('address')!.touched && form.get('address')!.invalid}"
                >
                    <label for="address">Address:</label>
                    <input id="address" type="text" formControlName="address">
                    <div *ngIf="form.get('address')!.touched && form.get('address')!.invalid" 
                    class="validation">
                        <small *ngIf="form.get('address')?.errors?.required">Enter new delivery address</small>
                    </div>
                </div>
    
                <div class="form-control"
                [ngClass]="{invalid: form.get('comment')!.touched && form.get('comment')!.invalid}"
                >
                    <label for="comment">Comment:</label>
                    <textarea id="comment" type="text" formControlName="comment"></textarea>
                    <div *ngIf="form.get('comment')!.touched && form.get('comment')!.invalid" 
                    class="validation">
                        <small>Length must be less then {{form.get('comment')?.errors?.maxlength.requiredLength}} symbols
                                Now number of symbols is {{form.get('comment')?.errors?.maxlength.actualLength}}
                        </small>
                    </div>
                </div>

                <div class="form-control form-checkbox">
                    <label for="paid">Paid:</label>
                    <input id="paid" type="checkbox" value="true" formControlName="paid">
                </div>
    
                <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">Update order</button>
            
    </form>
    