.card {
    max-width: 800px;
    margin: 0 auto;

    h1 {
        margin: 0 auto;
    }

    .form-checkbox {
        display: flex;
        
        input {
            margin-top: 6px;
        }
    }

    .card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .order-info, .product-info {
        display: flex;
        flex-direction: column;
        margin: 10px;
        box-shadow: -4px -2px 3px #bdcdd5, 4px 2px 3px #bdcdd5;
        background-color: #f7f7f7;
        padding: 5px;
    }

}