.card {

    h1 {
        margin: 0 auto;
    }

    .form-checkbox {
        display: flex;
        
        input {
            margin-top: 6px;
        }
    }

    .card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .order-info, .product-info {
        display: flex;
        flex-direction: column;
        margin: 10px;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px;
    }

}