<div>
    <div class="form-control">
        <input type="text" placeholder="Find order by name..." [(ngModel)]="searchStr" >
    </div>
    <div class="table-responsive">
<table class="table ">
    <thead class="bg-dark">
        <tr>
            <th>№</th>
            <th [appSort]="orders" data-order="desc" data-name="name">Name</th>
            <th>Phone</th>
            <th [appSort]="orders" data-order="desc" data-name="delivery_address">Address</th>
            <th [appSort]="orders" data-order="desc" data-name="created_date" data-type="date">Date</th>
            <th>Details</th>
            <th [appSort]="orders" data-order="desc" data-name="paid">Paid</th>
            <th>Edit order</th>
            <th>Delete order</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let order of orders | searchOrders:searchStr; let idx = index">
            <td>{{idx+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.delivery_address}}</td>
            <td>{{order.created_date | date:'mediumDate'}}</td>
            <td>{{order.comment}}</td>
            <td class="alert-success" *ngIf="order.paid; else unpaid">Paid</td>
            <ng-template #unpaid><td class="alert-warning">Unpaid</td></ng-template>
            <td>
                <button class="btn btn-dark open"
                [routerLink]="['/admin', 'order', order.id, 'edit']"
                >
                 Edit order   
                </button>
            </td>
            <td>
                <a
              
                 class="btn btn-outline-secondary btn-dark delete"
                 mwlConfirmationPopover
                 [popoverTitle]="popoverTitle"
                 [popoverMessage]="popoverMessage"
                 placement="left"
                 (confirm)="remove(order.id, true)"
                 (cancel)="cancelClicked = true"
                 >Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>