<section class="products"><!-- *ngIf="ordes.length; else loading"-->
            <div class="form-control">
                <input type="text" placeholder="Find product..." [(ngModel)]="searchStr" > <!---->
            </div>
            <div class="product-cards">
                <app-product class="" *ngFor ="let product of products | searchProducts:searchStr" [product]="product" (onAdd)="onAdd1()"></app-product>
            </div>
        <ng-template #loading>
            <p class="text-center">Loading...</p>
        </ng-template>
</section>