<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Order Info</h1>
    <div class="product-info">
    <p><b>Product:</b> {{this.product_info.name}}</p>
    <p><b>Price:</b> {{total_price}} USD</p>
    <p><b>Quantity:</b> {{this.quantity}}</p>
    </div>
        
            <div class="form-control"
            [ngClass]="{invalid: form.get('name')!.touched && form.get('name')!.invalid}"
            >
                <label for="name">Name*:</label>
                <input id="name" type="text" formControlName="name">
                <div *ngIf="form.get('name')!.touched && form.get('name')!.invalid" 
                class="validation">
                    <small *ngIf="form.get('name')?.errors?.required">Enter name</small>
                </div>
            </div>

            <div class="form-control"
            [ngClass]="{invalid: form.get('phone')!.touched && form.get('phone')!.invalid}"
            >
                <label for="phone">Phone*:</label>
                <input id="phone" type="tel" formControlName="phone" placeholder="0501234321">
                <div *ngIf="form.get('phone')!.touched && form.get('phone')!.invalid" 
                class="validation">
                    <small *ngIf="form.get('phone')?.errors?.required">Enter phone</small>
                    <small *ngIf="form.get('phone')?.errors?.minLength">
                            Phone must be bot less then {{form.get('password')?.errors?.minlength.requiredLength}} symbols.
                            Now number of symbols is {{form.get('phone')?.errors?.minlength.actualLength}}
                    </small>
                </div>
            </div>

            <div class="form-control"
            [ngClass]="{invalid: form.get('address')!.touched && form.get('address')!.invalid}"
            >
                <label for="address">Address*:</label>
                <input id="address" type="text" formControlName="address">
                <div *ngIf="form.get('address')!.touched && form.get('address')!.invalid" 
                class="validation">
                    <small *ngIf="form.get('address')?.errors?.required">Enter delivery address</small>
                </div>
            </div>

            <div class="form-control"
            [ngClass]="{invalid: form.get('comment')!.touched && form.get('comment')!.invalid}"
            >
                <label for="comment">Comment:</label>
                <textarea id="comment" type="text" formControlName="comment"></textarea>
                <div *ngIf="form.get('comment')!.touched && form.get('comment')!.invalid" 
                class="validation">
                    <small>Length must be less then {{form.get('comment')?.errors?.maxlength.requiredLength}} symbols
                            Now number of symbols is {{form.get('comment')?.errors?.maxlength.actualLength}}
                    </small>
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid"  >Make order</button>
        
</form>
